/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #054b71 !important;
  --toolbarbutton-icon-fill: #98ccf9 !important;
  --toolbar-field-color: #e0e2e8 !important;
  --tab-selected-textcolor: #98ccf9 !important;
  --toolbar-color: #e0e2e8 !important;
  --arrowpanel-color: #e0e2e8 !important;
  --arrowpanel-background: #1c2024 !important;
  --sidebar-text-color: #e0e2e8 !important;
  --zen-main-browser-background: #101418 !important;
  --zen-main-browser-background-toolbar: #101418 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #101418 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #101418 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1c2024 !important;
}

#zen-workspaces-button {
  background-color: #1c2024 !important;
}

#TabsToolbar {
  background-color: #101418 !important;
}

.urlbar-background {
  background-color: #1c2024 !important;
}

.urlbar-input::selection {
  color: #003350 !important;
  background-color: #98ccf9 !important;
}

.urlbarView-url {
  color: #c2c7ce !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #98ccf9
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #98ccf9 !important;
  --identity-icon-color: #98ccf9 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b8c8d9 !important;
  --identity-icon-color: #b8c8d9 !important;
}

.identity-color-green {
  --identity-tab-color: #d1bfe7 !important;
  --identity-icon-color: #d1bfe7 !important;
}

.identity-color-yellow {
  --identity-tab-color: #cce5ff !important;
  --identity-icon-color: #cce5ff !important;
}

.identity-color-orange {
  --identity-tab-color: #d4e4f6 !important;
  --identity-icon-color: #d4e4f6 !important;
}

.identity-color-red {
  --identity-tab-color: #ffb4ab !important;
  --identity-icon-color: #ffb4ab !important;
}

.identity-color-pink {
  --identity-tab-color: #ecdcff !important;
  --identity-icon-color: #ecdcff !important;
}

.identity-color-purple {
  --identity-tab-color: #42474e !important;
  --identity-icon-color: #42474e !important;
}

#zen-appcontent-navbar-container {
  background-color: #101418 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #98ccf9 !important;
  color: #98ccf9 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #98ccf9 !important;
  color: #98ccf9 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #98ccf9 !important;
}
